@import "tailwindcss";

/* Tokens (equivalente a tailwind.config del HTML) */
@theme {
  --color-primary: #3e1c7d;
  --color-accent: #00e5ff;
  --color-background-light: #f7f6f8;
  --color-background-dark: #17131f;

  --font-display: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

/* Estilos custom del HTML */
.glass-nav {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.cyan-glow:hover {
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.4);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  /* opcional: controla fill, weight, grade, optical size */
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
